.main-page {
  background-color: orange; //for testing purposes only - remove prior to production
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}