<app-navbar></app-navbar>
<div class="profile-page-main">

  <!-- Show User Profile -->
  <mat-card class="profile-page-card">
    <mat-card-header class="profile-page-card-header">
      <mat-card-title>Your myFlix Profile</mat-card-title>
    </mat-card-header>

    <!-- Show Profile Information -->
    <mat-card-content class="profile-page-card-content">
      <p><b>Username:</b> {{user.Username}}</p>
      <p><b>Email:</b> {{user.Email}}</p>
      <p><b>Birthday:</b> {{user.BirthDate | date }}</p>
    </mat-card-content>

    <!-- Section to Edit Profile and Delete Profile -->
    <mat-card-actions class="profile-page-actions">

      <button mat-raised-button color="primary" (click)="openEditProfileDialog()">
        <mat-icon>edit</mat-icon>
        Edit My Profile
      </button>

      <button mat-raised-button color="warn" (click)="deleteProfile()">
        <mat-icon>delete_forever</mat-icon>
        Delete My Profile
      </button>

    </mat-card-actions>
  </mat-card>

  <!-- Display Favorite Movies - TBD -->
</div>